{
  "extends" : "rallycoding",
  "env": {
    "browser": "true"
  },
  "rules": {
    "max-len": "off",
    "no-useless-escape": "off",
    "react/no-multi-comp": "off",
    "react/self-closing-comp": "off",
    "no-nested-ternary": "off"
    }
}
